button[data-menu="button"] {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    border: none;
    margin: 10px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1111;
    gap: 5px;
    cursor: pointer;
    display: none;

}

button[data-menu="button"]::before {
    content: '';
    width: 15px;
    height: 2px;
    background: #fff;
    box-shadow: 0 5px #fff, 0 -5px #fff;


}



@media(max-width:700px) {

    button[data-menu="button"] {
        display: block;
    }


    [data-menu="list"] {
        flex-direction: column;
        position: absolute;
        background-color: #fb5;
        top: 0;
        left: 0;
        z-index: 111;
        padding: 60px 0px 20px 0px !important;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
        width: 150px;
        display: none !important;
        animation: fade .2s ease;

    }

    [data-menu="list"].active {
        flex-direction: column;
        position: absolute;
        background-color: #fb5;
        top: 0;
        left: 0;
        z-index: 111;
        padding: 60px 0px 20px 0px !important;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
        width: 150px;
        display: flex !important;

    }



    .dropdown-menu {
        position: static;
        border: none;
    }

    .dropdown-menu::before {
        top: 30px;
    }




}