body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(12, 12, 12);
    color: #fff;
    font-size: 3rem;

}

.section[data-section-anim="scroll"] .section-container {
    opacity: 0;
    transition: opacity .3s ease;
}

.section[data-section-anim="scroll"].active .section-container {
    opacity: 1;
}