@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

:root {
    --lateral-website-spacing: 1rem;
    --font-size-small: 20px;
    --font-size-medium: 28px;
    --font-size-large: 2.5rem;
    --font-extra-large: 3.5rem;
    --font-ultra-large: 5.5rem;

    --dark-gray: #2E2E2E;
    --light-gray: #979797;
}

.centered-spacing {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--lateral-website-spacing);
}

a {
    text-decoration: none;
    color: black;

}

ul,
li {
    list-style: none;
}

input {
    background-color: transparent;
    border: none;
}

p,
a,
li {
    font-size: var(--font-size-small);
}

button {
    cursor: pointer;
    border: none;
}

.button-border {
    border: 1px solid #fff;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    padding: 1rem 3rem;
    font-size: var(--font-size-small);
}

.extra-bold {
    font-weight: 600;
}