* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
label {
    color: #fff;
    font-size: 1.2rem;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(41, 41, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: end;

}

.input-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

input {
    background-color: rgba(0, 0, 0, 0.476);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;

    color: #fff;

}

#subtmit-button {
    display: flex;
    justify-self: center;
    border: none;
    font-size: 1.3rem;
    padding: 10px 20px;
    color: #fff;

    border-radius: 10px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.476);

}