* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
}


#first-section {
    display: flex;
    flex-direction: column;

    height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    height: 50px;
    width: 250px;
}

ul,
li {

    list-style: none;
}

.animals-list {
    display: flex;
    gap: 20px;
}

#second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.js-tab-description {
    margin: 0 auto;
    max-width: 1000px;
}

.js-tab-description aside {
    display: none;
}

.js-tab-description aside.active {
    display: block;
    animation: show .4s forwards;
}

#faq-section {
    margin: 0 auto;
    margin-top: 200px;

    max-width: 1000px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.faq-container li {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.js-accordion li.active p {
    display: block !important;
    animation: show .4s ease;
}




.faq-container h3 {
    font-size: 2.5rem;
    text-transform: capitalize;
}


.faq-container p {
    font-size: 1.2rem;
    display: none;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateX(-50px);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}