#first-section {
    display: flex;
    flex-direction: column;

    height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    height: 50px;
    width: 250px;
}

ul,
li {
    display: flex;
    gap: 20px;
    list-style: none;
}

#second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.js-tab-description {
    margin: 0 auto;
    max-width: 500px;
}

.js-tab-description aside {
    display: none;
}

.js-tab-description aside.active {
    display: block;
    animation: show .4s forwards;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateX(-50px);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}