* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
}

.music-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    font-weight: 500;
}

.music-box__control-panel img {
    height: 40px;
    cursor: pointer;
}

.toggle-button img {
    display: none;
}

.toggle-button.pause .pause-button {
    display: block;
}

.toggle-button.play .play-button {
    display: block;
}

.music-box__control-panel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.music-box__name {
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

.music-box__author-name {
    font-size: 1.3rem;
    color: #ffffffa3;
    text-transform: uppercase;
}

.music-box__img-container {
    width: 350px;
}

.music-box__img-container img {
    width: 100%;
    border-radius: 5px;
}