/* body {
    background-color: blue;
}

body.active {
    background-color: red;
} */

* {
    color: #fff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.881);
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stopwatch h1 {
    font-size: 4rem;
}

.buttons-container {
    display: flex;
    gap: 20px;
}

button {
    color: black;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: rgb(79, 79, 83);
    font-size: 1.5rem;
}

button[disabled] {
    opacity: 0.3;
}