body {
    background-color: gray;
    min-height: 600vh;
}

.box {
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: white;
    width: max-content;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    margin: 30px 0;
    opacity: 0;
    transition: all 1s ease;

}

.box.active {
    opacity: 1;
    transition: opacity .3s ease;

}