body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;

}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #FB5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown-menu {
  display: none;
  animation: fade .3s ease;
}

[data-dropdown]:hover .dropdown-menu {
  display: block;
}


.dropdown-menu {
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #E54;
  border: 2px solid black;
  z-index: 200;
}

.dropdown-menu li a {
  font-size: 0.9rem;
}

.dropdown-menu li a:hover {
  color: #fff;

}

.dropdown-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #E54;


}



.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: 'Playfair Display SC', georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #E54;
}

.animais h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #FB5;
}

.animais p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista li {
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background: #FB5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2 / 4
}

.faq-lista li h3 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #E54;
  cursor: pointer;
}

.faq-lista li p::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #FB5;
}

.faq-lista p {
  font-family: Helvetica, Arial;
  margin-bottom: .5rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.dados li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #FB5;
}

.copy {
  grid-column: 3/5;
  margin-bottom: 2rem;
  background: #FB5;
}

.copy p {
  padding: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  .animais-lista {
    grid-column: 1;
  }

  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }

  .grid-section h1 {
    font-size: 3rem;
  }

  .menu {
    margin-top: 0px;
  }

  .copy {
    margin-bottom: 0px;
  }
}

.login-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;

}

.login-modal.active {
  animation: fade .3s ease;
  display: flex;

}

.login-modal__container {
  padding: 15px;
  width: 500px;
  height: 400px;
  box-shadow: 0 0 0 10px white;
  background-color: rgb(255, 255, 255);
  border: 15px solid orange;
  position: relative;

}

form {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 20px;
  align-content: center;

  height: 100%;
  padding: 0 20px;
}


.login-modal__container form .input-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-modal__container form .input-box input {
  background-color: transparent;
  border: 1px solid gray;
  height: 40px;
  font-size: 1.2rem;
}

.login-modal__container form .input-box label {
  color: #000000;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-modal__container form button[type="submit"] {
  background-color: red !important;
  border: none;
  width: 150px;
  height: 50px;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-modal__close-btn {
  position: absolute;
  background-color: red;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  right: -35px;
  top: -40px;
  width: 40px;
  height: 40px;
}




.js [data-tab="content"] section {
  display: none;
}


[data-tab="content"] section.ativo {
  display: block;
}

[data-tab="content"] section.ativo[data-animate-direction='anim-down'] {
  animation: show .5s forwards;
}

[data-tab="content"] section.ativo[data-animate-direction='anim-right'] {
  animation: slideDown .5s forwards;
}



.js [data-accordion="on"] li p {
  display: none;
}

[data-accordion="on"] li h3::after {
  content: '⬎';
  margin-left: 10px;
}

[data-accordion="on"] li.ativo h3::after {
  content: '⬏';
}

[data-accordion="on"] li.ativo p {
  display: block;
  animation: slideDown .5s forwards;
}

[data-section-anim="scroll"] {
  opacity: 0;
}

[data-section-anim="scroll"].ativo {
  opacity: 1;
  transition: opacity .3s ease;
}



@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}




@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    max-height: 200px;
    opacity: 1;
  }
}