body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    background-color: rgb(23, 23, 23);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;

}

input,
button {
    color: black;
    height: 50px;

    width: 300px;
    font-size: 1.6rem;
    padding: 0 1rem;
}

.name,
.date {
    font-size: 1.5rem;

}

#aaaa {
    margin-bottom: 20px;
}

button {
    width: 150px;
    cursor: pointer;
}

#list-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 1000px;
    height: 500px;
    overflow-y: auto;
}

#error-text {
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: red;
}

.do-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;

    background-color: #ffffff0b;
    border-radius: 10px;
    padding: 1rem;
}