/*Hero section*/


.hero {
    display: grid;
    background: linear-gradient(90deg, #000000, #3C3B3D);
    min-height: 50vh;
    max-height: 700px;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hero__image-box {
    display: flex;
    height: auto;
    padding-top: 5rem;

}

.hero__image-box img {
    display: flex;
    align-self: flex-end;
    width: 100%;
}



.hero__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}

.hero__text-box p {
    color: var(--light-gray);
    opacity: 0.7;

}

.hero__text-box .hero__subtitle-text {
    font-size: var(--font-size-medium);
}

.hero__text-box .hero__offer-title {
    font-size: var(--font-ultra-large);
    font-weight: 300;
    color: #fff;
    line-height: 40px;
}



.hero__offer-message {
    font-size: var(--font-size-small);
    margin-top: 10px;
}

.hero__text-box button {
    max-width: 200px;
}

/*End Hero section*/


/* Start featured products section */

.featured-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px 300px;
}

.featured-products__product-card {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 2rem;
    padding-left: 0;
    justify-content: space-between;

}

.featured-products__text-box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.featured-products__product-card h2 {
    font-weight: 300;
    font-size: var(--font-size-large);
}

.featured-products__product-card p {
    color: #909090;
}

.featured-products__product-card .button-border {
    border-color: black;
    color: black;
    max-width: 200px;
}

.featured-products__product-card:nth-child(1) {
    grid-column: 1/3;
}

.featured-products__product-card:nth-child(1) h2 {
    font-size: var(--font-extra-large);
}


.featured-products__product-card:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/3;
    background-color: #EDEDED;
    padding-left: 3.5rem;
    padding-right: 0;

}

.featured-products__product-card:nth-child(2) .featured-products__text-box {
    gap: 20px;
}


.featured-products__product-card:nth-child(2) h2 {
    font-size: var(--font-extra-large);
    line-height: 40px;
}



.featured-products__product-card:last-child {
    color: #fff;
    background-color: var(--dark-gray);
}

/* End featured products section */

/* Start products section */

.products-section {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    gap: 6rem;
}


.products-section__category-browse {
    display: grid;
    gap: 30px;
}

.category-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrows {
    display: flex;
    gap: 30px;
}

.arrows img {
    cursor: pointer;
}


.section-subtitle {
    font-size: var(--font-size-medium);
}

.products-section__category-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.products-section__category-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #EDEDED;
    width: 200px;
    height: 150px;
    border-radius: 5px;
}

.products-container__top-navigation {
    display: flex;
    gap: 40px;
}


.products-container__top-navigation button {
    position: relative;
    font-size: var(--font-size-small);
    opacity: 0.5;
}

.products-container__top-navigation .selected {
    position: relative;
    opacity: 1;
    transition: all .3s ease;
}

.products-container__top-navigation button::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: black;
    width: 0;
    height: 3px;
    border-radius: 30px;
}


.products-container__top-navigation .selected::after {
    width: 100%;
}



/* End products section */